# Student input - PRIVATE
Students.xlsx

# Database - PRIVATE
tracker.db

# Python environment
venv/

# Python tracker source
tracker.py

# Python requirements
requirements.txt

# Local automatic GitHub uploader
push_updates.bat

# Python cache
__pycache__/
*.pyc

# Logs
tracker_log.txt